on:
  push:
    branches:
      - main

name: conan

jobs:
  run-conan:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: true
      matrix:
        config:
          - name: Ubuntu Debug
            os: ubuntu-latest
            conan-profile: ubuntu-debug
          - name: Ubuntu Release
            os: ubuntu-latest
            conan-profile: ubuntu-release

          - name: Windows 2019 Debug
            os: windows-2019
            conan-profile: vs-2019-debug
          - name: Windows 2019 Release
            os: windows-2019
            conan-profile: vs-2019-release

          - name: Windows 2022 Debug
            os: windows-2022
            conan-profile: vs-2022-debug
          - name: Windows 2022 Release
            os: windows-2022
            conan-profile: vs-2022-release

    name: ${{ matrix.config.name }}
    env:
      DXSDK_DIR: C:\apps\Microsoft DirectX SDK\
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5

      - name: Install Conan
        run: |
          pip install -r requirements.txt
          conan profile detect --force

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Run
        env:
          CONAN_LOGIN_USERNAME: anotherfoxguy
          CONAN_PASSWORD: ${{ secrets.CONAN_PASSWORD }}
          CONAN_PROFILE: ${{ matrix.config.conan-profile }}
        run: |
          conan remote add rigs-of-rods-deps https://conan.cloudsmith.io/rigs-of-rods/deps/
          python build.py
